# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.prettierrc
.prettierrc.json
.prettierrc.yaml
.prettierrc.yml
.prettierrc.js
.prettierrc.cjs
.prettier.config.js
.prettier.config.cjs
.prettierignore



# Ignore Tailwind CSS configuration files
tailwind.config.js
tailwind.config.cjs


# Optionally ignore the generated CSS file if you don't want to track it in version control
public/output.css
public/output.min.css

# Ignore license files
LICENSE
LICENSE.*
license
license.*
LICENSE.txt
license.txt

# Ignore other common files
*.md
*.txt

# Ignore any additional files or patterns you don't need
*.log
*.cache
*.bak
*.tmp

# Ignore other common documentation files
CHANGELOG
CHANGELOG.*
changelog
changelog.*
CHANGELOG.md
changelog.md
CONTRIBUTING
CONTRIBUTING.*
contributing
contributing.*